<app-navigation></app-navigation>

<div class="header">
    <div class="header-content">
        <p class="summary">
            Еразъм+ е програмата на Европейския съюз за образование, обучение, младеж и спорт. Тя предоставя
            възможности на хора от всички възрасти да развиват и обменят знания и опит в институции и организации в
            различни държави. Програмата има за цел да подобри уменията и пригодността за заетост, да модернизира
            образованието, обучението и работата с младежи и да насърчи сътрудничеството в Европа.
        </p>

        <div>
            
        </div>
    </div>
    <div class="header-image">
        <img src="/assets/erasmus-plus.png" alt="Erasmus+">
    </div>
</div>

<div>
    <div style="text-align: center;">
        Контакти
        <div>
            Студентска мобилност с цел ОБУЧЕНИЕ
        </div>
        <div>
            Мобилност на персонал с цел ПРЕПОДАВАНЕ
        </div>
        <div>
            Лице за контакт: Веселина Добрева, блок 1, ст. 1255, тел.: 02 965 26 55,
        </div>
        <div>
            Лице за контакт: Веселина Добрева, блок 1, ст. 1255, тел.: 02 965 26 55,
        </div>
        <div>
            Лице за контакт: Веселина Добрева, блок 1, ст. 1255, тел.: 02 965 26 55,
        </div>
        <div>
            Лице за контакт: Веселина Добрева, блок 1, ст. 1255, тел.: 02 965 26 55,
        </div>
    </div>
</div>

<router-outlet></router-outlet>